.cards-holder{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.card-container{
  box-shadow: 0px 0px 10px 1px lightgrey;
  border-radius:8px;
  transition:0.5s;
  height: 300px;
  padding: 5px;
  &:hover{
    transform: scale(1.01);
  }
  .article-content{
    max-height:125px;
    overflow:hidden;
    border-bottom: 1px solid black;
  }
}
