.navbar-container{
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin:10px auto;
  a {
    height:max-content;
    margin:auto;
  }
  .logo{
    display: flex;
    justify-content: center;
    padding: 8px 16px;
  }

  .nav-right{
    display: flex;
    .nav-link{
      color: var(--dark-blue);
      display:flex;
      justify-content: center;
      img{
        height:30px;
        margin-top:5px;
      }
  }
  }

  .search-bar{
    margin: 5px 5px 0px;
    width: 0;
    opacity: 0;
    transition: 1s ease-in;
    border: 0px;
    border-bottom: 1px solid var(--dark-blue);
  }

.search-bar.active{
  width: 200px;
  opacity:1;
  background-color: var(--whitish);
}

.search-bar.active:focus{
  outline: none;
  color: var(--dark-blue);
}
  .search-icon{
    cursor: pointer;
  }


  // .nav-user{
  //   border-radius: 50%;
  // }
  // .nav-dropdown{

  //   &.dropdown-open{

  //   }
  //   &.dropdown-close{
  //     display: none;
  //   }
  // }
}
