.navbar-container{
  display: flex;
  width: 100vw;
  justify-content: space-between;

  a {
    height:max-content;
    margin:auto;
  }
  .logo{
    display: flex;
    justify-content: center;
    padding: 8px 16px;
  }

  .nav-right{
    display: flex;
    .nav-link{
      color: var(--dark-blue);
      display:flex;
      justify-content: center;
      img{
        height:30px;
        margin-top:5px;
      }
  }
  }
  // .nav-user{
  //   border-radius: 50%;
  // }
  // .nav-dropdown{

  //   &.dropdown-open{

  //   }
  //   &.dropdown-close{
  //     display: none;
  //   }
  // }
}
