// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.simple_form{
  textarea{
    height:500px;
    resize:vertical;
  }
}

:root {
  --font-color: blue;
  --title-font-size: 25px;
}

.article-show{
  h1{
    font-size: var(--title-font-size);
    color: var(--font-color);
  }

}
