<div class="navbar-container">
<div class="logo"></div>
<div class="nav-link">About</div>
<div class="nav-link">Blog</div>
<div class="nav-link">Projects</div>
<div class="nav-link">Contact</div>
<div class="nav-user">
<img src="" alt="" class="user-avatar">
<div class="nav-dropdown dropdown-open"></div>
</div>
</div>
